<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RepoRoot" value="C:\\rdnext\\Azure\\Compute"/>
    <!-- <add key="RepoRoot" value="C:\\Users\\amani\\Desktop\\repos\\GitRepoStats"/>    -->
  </appSettings>
</configuration>