<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
    <script type='text/javascript' src='http://code.highcharts.com/highcharts.js'></script>
    <script type='text/javascript' src='http://code.highcharts.com/modules/exporting.js'></script>
    <link href='/css/styles.css' rel='stylesheet' />
</head>
<body>

    <table class='contrib-table'>
        <tr class='contrib-title-row'>
            <td class='contrib-title-box'>
                <h1>Commit {0}</h1>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
</body>
</html>