<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
    <script type='text/javascript' src='http://code.highcharts.com/highcharts.js'></script>
    <script type='text/javascript' src='http://code.highcharts.com/modules/exporting.js'></script>
    <link href='/css/styles.css' rel='stylesheet' />
</head>
<body>

    <table class='contrib-table'>
        <tr class='contrib-title-row' style="column-span:4;border-bottom:thick">
            <td class='contrib-title-box'>
                Changes for commit @Model.Commit.Sha
                <br />
                @Model.Commit.Message
            </td>
        </tr>

        @foreach (var item in Model.FileChanges)
        {
        <tr  style="border-bottom:thin">
            <td valign="top">                
               <span>@item.Path</span>
            </td>
            <td>
                <pre>@item.Diff</pre>
            </td>
        </tr>
        }
    </table>
</body>
</html>